.wholeReviewBox {
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.wholeReviewBox::-webkit-scrollbar {
    display: none;
}

.currReviewDiv {
    width: 43%;
    height: 40%;
    padding: 2%;
    border: solid 1px rgb(159, 156, 156);
    border-radius: 2%;
    overflow-y: scroll;
}

.reviewImage {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 1%;
}

.would-you-review {
    color: #FF5A60;
}

.move-left-review-date {
    display: flex;
    justify-content: flex-end;
}

.review-created-at {
    color: rgb(96, 93, 93);
}
