.wholeReviewBox {
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.currReviewDiv {
    width: 45%;
    height: 48%;
    padding: 2%;
    border: solid 1px rgb(159, 156, 156);
    border-radius: 2%;
    overflow-y: scroll;
}

.reviewImage {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 1%;
}

.would-you-review {
    color: #FF5A60;
}

.move-left-review-date {
    display: flex;
    justify-content: flex-end;
}
