.wholeDeleteModal {
    width: 25em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0
}

.deleteInput {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.verif-delete-title {
  margin-block-start: 0;
}

.delete-input-text {
  width: 80%;
  height: 8%;
  font-size: 13px;
}
