.mostOuterIndiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wholeIndivBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border: 2px solid rgb(246, 93, 93);
}

.spotImageDiv {
    width: 95%;
    height: 30%;
    /* border: 2px solid rgb(255, 106, 0); */
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.subImageBox {
    width: 50%;
    height: 50%;
    /* border: 2px solid rgb(102, 0, 255); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 2%;
}

.subImage {
    width: 45%;
    height: 12em;
    padding: 2%;
    object-fit: cover;
    border: 0.5px solid grey;
    border-radius: 4%;
}

.mainImage {
    width: 50%;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
} 

.reviewBox {
    border-top: 2px solid rgb(252, 145, 163);
    width: 95%;
    display:flex;
    flex-direction: row;
    padding: 2%;
}

.reviewsLeftBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    width: 60%;
    height: auto;
}

.reviewsRightBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(225, 133, 3);
    width: 30%;
    padding: 5%;
}
