.imgDiv {
    border-radius: 10px;
    object-fit: cover;
    width: 90%;
    height: 16rem;
    box-sizing: border-box;
}

.wholeSpotBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.indivBox {
    border: solid 2px rgb(248, 51, 84);
    border-radius: 10px;
    width:30%;
    height:auto;
    margin: 10px;
    background-color: rgb(253, 227, 200);
    display: flex;
}

.boxLink {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
