.SignUpModal {
    display: flex;
    flex-direction: column;
    width: 36em;
    height: 40em;
    align-items: center;
    overflow-y: scroll;
}


*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
    background-color: #FF5A60;
    border-radius: 9px;
    border: 1px groove #ffffff;
}

.inputstoSignUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 60%;
}

.outer-credentials-su {
    width: 100%;
    height: 16%;
    padding: .1%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.input-signUp {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    font-size: 15px;
}
