
.fullNav {
    height: 4rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5rem;
}

.profile-dropdown {
    list-style-type: none;
    position: absolute;
    right: 15px;
    background-color: rgb(246, 99, 123);
    padding: 10px;
}


.profile-dropdown> li {
    position: relative;
}
