
.fullNav {
    height: 5rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}

.logo-placement {
    height:100%
}

.profile-dropdown {
    list-style-type: none;
    position: absolute;
    background-color: rgb(246, 99, 123);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 15%;
    right: 4%;
}


.profile-dropdown> li {
    position: relative;
    cursor: pointer;
    height: 20%;
    width: 100%;
}

.profileMenu {
    position: relative;
    display: flex;
    padding: 25%;
    border: 0.5px solid grey;
    border-radius: 6px;
    /* transition: box-shadow 0.2s ease; */
    cursor: pointer;
}

.hamburger {
    margin-right: 5px;
}

.outerFullNavComplete {
    border-bottom: 0.5px solid grey;
}

.navButton {
    width: 100%;
    height: 100%
}
