
.fullNav {
    height: 4rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5rem;
}

.profile-dropdown {
    list-style-type: none;
}
